@import "{{ site.theme }}";
.nazwaPytania{font-style: italic;font-size: 0.7em;}
        
.pytanie
{margin-top: 1.5em;border: 1px;border-style: dotted;border-color: black;padding: 0.5em;}
        
.tresc_pytania
{font-weight: bold;margin-bottom: 1.5em;}
        
.dobra_odpowiedz
{color: green;text-decoration: underline;}
        
.dobra_odpowiedz img {border: 2px; border-color: green; border-style: solid;}
        
.zla_odpowiedz
{}
        
.zla_odpowiedz img {filter: blur(0.05rem);}
